%h2 acá tenés un formulario
%p mandale lo que quieras
= form_for :opinion, url: opinions_path do |f|
  = f.label 'Opinión'
  %br
  = f.text_area :mensaje
  %br
  = f.submit "Guardar para la historia"

= link_to 'todas las opiniones', opinions_path